.home {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }
  
  /* Video de fondo */
  .background-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1; /* Para que el video quede detrás del contenido */
  }
  
  /* Contenido sobre el video */
  .home-content {
    position: relative;
    text-align: center;
    color: #e6f1ff;
    z-index: 1;
  }
  
  .home-content h1 {
    font-size: 3rem;
    font-weight: bold;
  }
  
  .home-content p {
    font-size: 1.5rem;
    margin-top: 10px;
  }
  